<%- include('includes/head'); %> <%# Incluindo head e footer %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Crie sua conta ou Entre no sistema</h1>
            <p class="text-center lead">Faça login ou se cadastre</p>
            
            <%- include('includes/messages'); %>

            <div class="row">

                <div class="col-lg">
                    <h4>Faça seu cadastro</h4>
                    <p>Se você não tem conta, crie abaixo</p>

                    <form class="form-cadastro" action="/login/register" method="POST">
                        <input type="hidden" name="_csrf" value=<%- csrfToken %>>
                        
                        <div class="form-group">
                          <label>Seu email</label>
                          <input type="email" class="form-control" name="email">
                        </div> 
                        <div class="form-group">
                          <label>Sua Senha</label>
                          <input type="password" class="form-control" name="senha">
                        </div>

                        <button type="submit" class="btn btn-primary">Criar conta</button>
                    </form>
                </div>

                <div class="col-lg">
                    <h4>Faça login</h4>
                    <p>Se você já tem conta, faça login abaixo</p>

                    <form class="form-login" action="/login/logar" method="POST">
                        <input type="hidden" name="_csrf" value=<%- csrfToken %>>
                        
                        <div class="form-group">
                          <label>Seu email</label>
                          <input type="email" class="form-control" name="email">
                        </div> 
                        <div class="form-group">
                          <label>Sua Senha</label>
                          <input type="password" class="form-control" name="senha">
                        </div>

                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </form>
                </div>

            </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>